=simple_form_for @email_groups_form, url: admin_emails_path do |f|
  = f.input :recipients, as: :select, collection: EmailGroupsForm::RECIPIENTS_OPTIONS
  = f.input :email_template_id, as: :select,  collection: EmailTemplate.all
  = f.submit
