/ =form_tag "https://#{ENV['S3_BUCKET']}.s3.amazonaws.com", multipart: true, class:'direct-upload' do
/ -some problem with accept-charset here

%form(action="https://#{ENV['S3_BUCKET']}.s3.amazonaws.com" method="post" enctype="multipart/form-data" class='direct-upload')
  =hidden_field_tag :key
  =hidden_field_tag :AWSAccessKeyId, ENV['AWS_ACCESS_KEY_ID']
  =hidden_field_tag :acl, 'public-read'
  =hidden_field_tag :policy
  =hidden_field_tag :signature
  =hidden_field_tag :success_action_status, '201'

  =file_field_tag :file

  .progress.progress-striped.active
    .bar
  #attachment-container
    =link_to '', '#', id: 'real_file_url', target: '_blank'

